@import url(./fonts.scss);

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  border: none;
}

:root{
  --bg:#FFFFFF;
  --color: #000;
}

.container {
  max-width: 1230px;
  width: 100%;
  height: 100%;
  margin: 0 auto;   
  padding: 0 15px;
}

.wrapper{
  background: var(--bg);
  min-height: 100svh;
  color: var(--color);
}