.current {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  &__left {
    box-shadow: 2px 5px 25px -3px #b4b4b440;
    background: var(--bg);
    border-radius: 20px;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    position: relative;
    &_degree {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 96px;
      color: #4793ff;
    }
    &_today {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 40px;
      color: var(--color);
    }
    &_time {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 25px;
      margin: 30px 0 15px;
      color: #939cb0;
    }
    &_city {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 25px;
      color: #939cb0;
    }
    &_img {
      position: absolute;
      right: 20px;
      top: 46px;
      width: 120px;
      height: 120px;
    }
  }
  &__right {
    box-shadow: 2px 5px 25px -3px #b4b4b440;
    background: var(--bg);
    border-radius: 20px;
    max-width: 750px;
    width: 100%;
    padding: 42px 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    &_item {
      display: flex;
      align-items: center;
      gap: 20px;
      &_img {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        box-shadow: 1px 4px 10px #4793ff33;
        background: var(--bg);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &_title {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 14px;
        min-width: 100px;
        color: #939cb0;
      }
      &_desc {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: var(--color);
      }
    }
  }
}
